
<h2>@Html.ActionLink("Przejdz", "IntrestingLinks", "Home")</h2>


<hr />

<h3>@Html.ActionLink("Pokaż wszystkie samochody", "GetallCars", "Home")</h3>

<hr />

<h3>@Html.ActionLink("Pokaz liste modeli", "GetListOfModels", "Home")</h3>

<hr />

<h3>@Html.ActionLink("Formularz kontaktowy", "ContactForm", "Home")</h3>