
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IntrestingLinks</title>
</head>
<body>

    <a href="https:\\google.com">google</a>
    <a href="https:\\facebook.com">facebook</a>
    <a href="https:\\youtube.com">youtube</a>
    <a href="https:\\discord.com">discord</a>
    <a href="https:\\coinmerketcap.com">krypto</a>

</body>
</html>
